header.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title h1 {
    text-align: center;
    text-transform: uppercase;
}

.game-card {
    margin: 10px 0px;
}

.loading {
    justify-content: center;
}